/_site
/dist
/dist.tar.gz
/.jekyll-cache
/.bundle
./jeklly-blog-dfbf0971c0f1.json
./google_api.json
# *.json
*.pth
*.pt
*.log
*.pyc
/code/Python/DFDataBuild/**/*.png
/code/Python/DFDataBuild/**/*.jpg
.idea/*
tmp/*
*.env
*.onnx
*.gguf
*.safetensors
code/Python/DFModelCode/DF_acceralate/llama.cpp
*.whl
/code/Python/DFModelCode/DF_acceralate/tmp/*
/code/Python/ONNX_TensoRT/models--openai--clip-vit-base-patch32/*
*.lock

# ---- CMake build directories ----
build/
cmake-build-debug/
cmake-build-release/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# ---- Binary / Executable files ----
*.exe
*.out
*.o
*.obj
*.a
*.so
*.dll
*.lib
*.dylib

# ---- IDE specific ----
# VSCode
.vscode/
# CLion / JetBrains
.idea/
# Visual Studio
*.vcxproj
*.vcxproj.filters
*.sln
# macOS
.DS_Store
# Windows
Thumbs.db