---
layout: page
title: 首页
---
<div class="page page-index">
  <!-- 侧边栏容器 -->
  <div class="sidebar">
    <div class="sidebar-profile">
      <!-- 个人图片居中 -->
      <div class="profile-img-container">
        <img src="./MY.jpg" alt="Profile Image" class="profile-img" />
      </div>
      
      <!-- 社交媒体链接，图标和文本一起显示 -->
      <div class="social-media">
        <!-- GitHub -->
        <a href="https://github.com/shangxiaaabb" target="_blank" class="social-link">
          <img src="https://img.shields.io/badge/GitHub-181717?style=social&logo=github" alt="GitHub" class="social-icon" />
          GitHub
        </a>
        
        <!-- Zhihu -->
        <a href="https://www.zhihu.com/people/zhi-hui-ha-ha-xiao-de-sha-zi" target="_blank" class="social-link">
          <img src="https://img.shields.io/badge/Zhihu-0084FF?style=social&logo=zhihu" alt="Zhihu" class="social-icon" />
          Zhihu
        </a>

        <!-- CnBlog -->
        <a href="https://www.cnblogs.com/Big-Yellow" target="_blank" class="social-link">
          <img src="https://img.shields.io/badge/cnblog-cnblog博客-blue" alt="Twitter" class="social-icon" />
          Twitter
        </a>

        <!-- 添加其他社交媒体链接 -->
      </div>

      <hr class="divider" />
      <!-- 标签部分 -->
      <div class="categories">
        <h3>标签</h3>
        <ul>
          {% for category in site.categories %}
            <li>
              <a href="{{ site.baseurl }}/pages/categories.html#{{ category[0] }}" class="hover-underline">{{ category[0] }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <!-- 文章列表 -->
  {% for post in site.posts  -%}
    {%- capture post_year %}{{ post.date | date: "%Y" }}{% endcapture -%}
    {%- capture post_previous_year %}{{ post.previous.date | date: "%Y" }}{% endcapture -%}
    {%- capture post_next_year %}{{ post.next.date | date: "%Y" }}{% endcapture -%}
    {%- if forloop.first or post_next_year != post_year -%}
    <div class="list-post">
      <h2 id="{{post_year}}">{{post_year}}</h2>
      <ul>
    {%- endif %}

        <li>
          <span class="date">{{ post.date | date: "%Y/%m/%d" }}</span>
          <div class="title">
            <a href="{{ site.baseurl | append: post.url }}" class="hover-underline">{{ post.title }}</a>
          </div>
          <div class="categories">
            {% for categorie in post.categories -%}
            <a href="{{site.baseurl}}/pages/categories.html#{{ categorie }}" class="hover-underline">{{ categorie }}</a>
            {%- endfor %}
          </div>
        </li>

    {%- if forloop.last or post_previous_year != post_year %}

      </ul>
    </div>
    {%- endif %}

  {%- endfor %}
</div>