{%- assign buildAt = site.time | date: "%Y%m%d%H%M%S" -%}
<head>
  <!-- <link href="https://fonts.googleapis.com/css2?family=Georgia&family=Arial:wght@400;700&family=Courier+New:wght@400;700&display=swap" rel="stylesheet"> -->
  <!-- <link href="https://fonts.loli.net/css2?family=Noto+Sans+SC:wght@400;700&family=Noto+Serif+SC:wght@400;700&display=swap" rel="stylesheet"> -->
  <link href="https://fonts.loli.net/css2?family=Noto+Sans+SC:wght@400;700&family=Noto+Serif+SC:wght@400;700&family=JetBrains+Mono:wght@400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <!-- 标题 -->
  <title>{{ page.title }}-{{ site.title }}</title>
  <!-- 必备的 meta 标签 -->
  <meta charset="utf-8" />
  <meta http-equiv="content-language" content="zh-CN" />
  <meta name="theme-color" content="#ffffff" />
  <meta name="supported-color-schemes" content="light dark" />
  <meta name="renderer" content="webkit" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="applicable-device" content="pc,mobile" />
  <meta name="author" content="{{ site.author }}" />
  <!-- 动态的 meta 信息 -->
  {%- if page.categories %}
  <meta name="description" content="{{ page.title }}" />
  <meta name="keywords" content="{{ site.author }}{% for category in page.categories %},{{ category }}{% endfor %}" />
  {% else %}
  <meta name="description" content="{{ site.description }}" />
  <meta name="keywords" content="{{ site.keywords }}" />
  {% endif -%}

  <!-- 谷歌收录 -->
  <meta name="google-site-verification" content="IDS97Lzd7uweEA7adjgQuo1V__a3xp9oKGq6OuoxZYg" />
  <meta name="google-site-verification" content="g_m-HBELAun6xxJBwslS9NdEm0ZL0_s52LqD-onNtfM" />
  <meta name="baidu-site-verification" content="codeva-wi8OtiCuBU" />
  <meta name="msvalidate.01" content="81407BB95B6B10326AFF04EEC297B4F2" />
  <meta name="google-adsense-account" content="ca-pub-9891924623460585">
  <meta name="shenma-site-verification" content="57f18cebccee65426483a5b0b21090c9_1737102104">

  <link rel="icon" href="{{site.baseurl}}/static/img/favicon.ico" />
  <link rel="apple-touch-icon" href="{{site.baseurl}}/static/img/logo.png" />
  <link rel="stylesheet" href="{{site.baseurl}}/static/css/common.css?t={{buildAt}}" />
  <link rel="stylesheet" href="{{site.baseurl}}/static/css/theme-dark.css?t={{buildAt}}" />
  {%- if page.layout == "mypost" %}
  <link rel="stylesheet" href="{{site.baseurl}}/static/css/post.css?t={{buildAt}}" />
  <link rel="stylesheet" href="{{site.baseurl}}/static/css/code-dark.css?t={{buildAt}}" />
  <link rel="stylesheet" href="{{site.baseurl}}/static/css/code-light.css?t={{buildAt}}" />
  {%- endif %} {%- if page.layout == "page" %}
  <link rel="stylesheet" href="{{site.baseurl}}/static/css/page.css?t={{buildAt}}" />
  {%- endif %}
  <script>
    window.blog = {
      baseurl: '{{site.baseurl}}',
      buildAt: '{{buildAt}}',
      darkMode: false,
      initDarkMode: function (flag) {
        if (flag && flag === 'true') this.darkMode = true
        else if (flag && flag === 'false') this.darkMode = false
        else this.darkMode = window.matchMedia('(prefers-color-scheme: dark)').matches
        document.documentElement.className = this.darkMode ? 'dark' : ''
        document.querySelector('meta[name=theme-color]').setAttribute('content', this.darkMode ? '#2D2E32' : '#FFFFFF')
      }
    }
    blog.initDarkMode(localStorage.darkMode)
  </script>

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "url": "https://big-yellow-j.github.io/",
      "name": "Big-Yellow-J",
      "description": "个人Blog",
      "publisher": {
        "@type": "Person",
        "name": "HuangJie"
      }
    }
    </script>
</head>
