.page-post {
  font-size: 15px;
  line-height: 2;
  word-break: break-all;
}
/* .page-post{
  white-space: pre-line;
} */
.page-post .title {
  font-size: 18px;
  font-weight: bold;
  color: #666666;
}
.page-post .subtitle {
  font-size: 12px;
  color: #999999;
}
.page-post .post > * {
  margin: 18px 0;
}
.page-post .post > iframe {
  margin: 0;
  width: 100%;
}
.page-post .post p {
  margin: 18px 0; /* Add this rule for consistent paragraph spacing */
}
.page-post .post h1,
.page-post .post h2 {
  font-weight: normal;
  font-size: 17px;
  position: relative;
  cursor: pointer;
}
.page-post .post h1::before,
.page-post .post h2::before {
  content: '#';
  top: 0;
  font-weight: bold;
  padding-right: 6px;
}
.page-post h3,
.page-post h4,
.page-post h5,
.page-post h6 {
  font-size: 15px;
  font-weight: bold;
}
.page-post blockquote {
  border-left: 3px solid #333333;
  background-color: #f7f7f7;
  padding: 9px 9px 9px 15px;
}

.page-post a {
  color: #000000;
  margin: 0 2px;
  border-bottom: 1px solid #000000;
}
.page-post strong,
.page-post b {
  color: #000000;
}
.page-post .post ul {
  margin-left: 16px;
}
.page-post .post ol {
  margin-left: 23px;
}
.page-post ul > li {
  list-style: disc;
  margin-left: 20px;
  line-height: 1.6;
}

.page-post ol > li {
  list-style: decimal;
  margin-left: 20px;
  line-height: 1.6;
}

.page-post li > *{
  margin: 6px 0;
}
.page-post img {
  display: block;
  max-width: 80%;
  margin: 20px auto;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.page-post img[alt='line'] {
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  box-shadow: none;
  margin: 0 4px;
  line-height: 1;
}
.page-post pre {
  font-size: 0;
  padding: 10px;
  overflow: auto;
  border-radius: 2px;
  max-height: 610px;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  line-height: 1.6;
}
.page-post code {
  font-size: 13px;
  background-color: #eeeeee;
  word-break: break-all;
  padding: 3px 5px;
  margin: 0 4px;
  border-radius: 5px;
  color: #4d4d4c;
}
.page-post pre code {
  font-size: 13px;
  background-color: transparent !important;
  word-break: keep-all;
  padding: 0;
  margin: 0;
  border-radius: unset;
  color: inherit;
}
.page-post hr {
  border: none;
  height: 3px;
  background-color: #eeeeee;
}

/* 表格设计 */
.page-post table {
  min-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #dddddd;
  width: 100%;
}
.page-post tr {
  border-bottom: 1px solid #dddddd;
}
.page-post th {
  font-weight: bold;
}
.page-post th,
.page-post td {
  padding: 5px 10px;
  text-align: center; /* 文本内容居中 */
  vertical-align: middle; /* 垂直居中 */
}
.page-post table tr:nth-child(even) {
  background-color: #f9f9f9;
}
.page-post .table-container {
  overflow-x: auto; /* 添加水平滑动条 */
  margin: 14px 0;
  border: 1px solid #dddddd;
  -webkit-overflow-scrolling: touch; /* 适配iOS滚动 */
}
.page-post .table-container table {
  margin: 0;
  border: 0;
}
.page-post .table-container table tbody tr:last-child {
  border-bottom: 0;
}


@media screen and (max-width: 560px) {
  .page-post {
    font-size: 13px;
  }
  .page-post pre code {
    font-size: 12px;
  }
  .page-post .post > * {
    margin: 15px 0;
  }
}

/* 代码容器样式 */
.code-container {
  position: relative;
}

/* 复制按钮样式 */
.copy-button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 4px 8px;
  font-size: 12px;
  background-color: #4BB596;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.copy-button:hover {
  opacity: 1;
}

.copy-button:active {
  transform: scale(0.95);
}

/* 分享 */
.share-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.share-button {
  background-color: #4CAF50; /* 按钮背景色 */
  color: white; /* 文字颜色 */
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 50%; /* 圆形按钮 */
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
}

.share-button img {
  width: 24px; /* 图标大小 */
  height: 24px; /* 图标大小 */
}

.share-button:hover {
  background-color: #45a049; /* 鼠标悬停时的背景色 */
  transform: scale(1.1); /* 鼠标悬停时放大按钮 */
}

.share-button:active {
  transform: scale(0.95); /* 点击时缩小按钮 */
}


/* 评论 */
#gitalk-container {
  margin-top: 40px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}